<div class="container">
  <% if @user.rounds.empty? %>
  <h2> Hey, <%=@user.name %>, you ready to see some weird stuff?</h2>
  <% else %>
  <h2>Hello <%=@user.name %>, glad to have you back!</h2>
  <% end %>
</div>

<div class="container" id="usrpage">
    <h1>Just how bad are you?</h1>

    <ul class="tabs">
        <li class="active"><a href="#tab1">Overall</a></li>
        <li><a href="#tab2">Round by Round</a></li>
        <li><a href="#tab3">By Deck</a></li>
    </ul>

    <div class="tab" id="tab1">
        <h2>How Wrong You've Been, Overall</h2>
        <p> You've taken <%=@all_guesses.length %> guesses overall so far.</p>
        <p> But you only managed to get <%=@percent_correct.round(2)%>% of them correct.</p>
        <p>Yea, that's pretty bad.</p>
    </div>

    <div class="tab" id="tab2">
        <h2>How Wrong You've Been, by Round</h2>
        <form id="stats-by-round" method='post' action='/usr/stats/round'>
          <select name='round_id'\>
            <% @user.rounds.each_with_index do |round, n| %>
                <option value="<%=round.id%>"><%=n + 1%></option>
              <% end %>
          </select>
          <input type="submit" value="View">
        </form>
        <div id="score-for-round">
        </div>
    </div>

    <div class="tab" id="tab3">
        <h2>How Wrong You've Been, by Deck</h2>
        <form id="stats-by-deck" method='post' action='/usr/stats/deck'>
          <select name='deck_id'\>
            <% @user.decks.each do |deck| %>
              <% unless deck.cards.empty? %>
                <option value="<%=deck.id%>"><%=deck.name%></option>
              <% end %>
            <% end %>
          </select>
          <input type="submit" value="View">
        </form>
        <div id="score-for-deck">
      </div>
    </div>

</div>