<div class="container">
  <h1>Make a card for deck <%= @deck.name %> </h1>


  <form name="make-card" action="/usr/decks/<%=@deck.name %>/cards" method="post">
  <fieldset>
    <label for="question" id="question_label">Question:</label><br>
    <input type="text" name="question" id="question" size="60" value="" class="text-input" /><br>
    <label class="error" for="question" id="question_error">You have to include a question, dummy.</label><br><br>

    <label for="answer" id="answer_label">Answer:</label><br>
    <input type="text" name="answer" id="answer" size="30" value="" class="text-input" /><br>
    <label class="error" for="answer" id="answer_error">You also have to include an answer, you horse's ass.</label><br>

      <br />
    <input type="submit" name="submit" class="button" id="create_btn" value="Create" />
  </fieldset>
</form>
  <br>

  <% unless @cards.empty? %>
    <h2>Cards:</h2>
    <% @cards.each do |card| %>
      <p style="color:blue; display:inline"><%=card.question%></p>
      <form method="post" action="/usr/decks/<%= @deck.id %>/cards/<%= card.id %>" style="display:inline">
        <input type="submit" value="delete" style="display:inline">
      </form>
      <form method="get" action="/usr/decks/<%= @deck.id %>/cards/<%=card.id%>" style="display:inline">
        <input type="submit" value="update" style="display:inline">
      </form>
      <br>
    <% end %>
  <% end %>


</div>